
.meta-list {
	display: block;
	padding-top: $spacing-half;
	overflow: hidden;

	.meta-list_ul {

		.meta-list_item {
			display: block;
			float: left;
			font-family: $font-family-regular;
			font-size: .7rem;
			
			&:nth-child(2) {
				float: right;
				text-align: right;
			}

			&.hidden {
				display: none;
			}
		}
	}
}
