
.idea-list {
	margin-top: $spacing-full;

	.idea-list_ul {
		list-style: none;

		.idea-list_ul-item {
			margin: 0 0 $spacing-full 0;
		}
	}
}


@media only screen and (min-width : $breakpoint-3){

	.idea-list {

		.idea-list_ul {
			max-width: 645px;
			margin: 0 auto;
			overflow: hidden;

			.idea-list_ul-item {
				margin: 0 $spacing-full $spacing-full $spacing-full;
				float: left;
			}
		}
	}
}

@media only screen and (min-width : $breakpoint-4){

	.idea-list {

		.idea-list_ul {
			max-width: 960px;
		}
	}
}